//Colors
:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue: #2783F3;
    --dark-blue: #03062F;
    --light-blue: #F1F5F9;
    --extra-light-blue: #E8EDF3;
    --dark-grey: #505050;
    --primary: var(--blue);
    --text-color: var(--dark-blue);
    --border-color: #0000001F;
}