/* Fonts */
@font-face {
    font-family: 'Inter';
    src: local("Inter"), url('../../Inter/Inter-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Inter Bold';
    src: local("Inter"), url('../../Inter/Inter-Bold.ttf') format("truetype");    
}

//Font family

$inter:  'Inter'; 

$primary-font: $inter;
